@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    
  
}

header {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.534), rgb(255, 255, 0));
    width: auto;

}

header > h1 {
    padding: 10px;
    text-align: center;
    font-size: 2.5em;
}

header > p {
    padding: 10px;
    font-size: 1.5em;
    text-align: justify;
}

header > nav {
    max-width: 400px;
    display: block;
    background-color: lightblue;
    margin: auto;
    padding: 10px;
    height: 80px;
}

header > nav > img {
   margin-right: 25px;
   border-radius: 5px;
}

header > form {
    margin-top: 10px;
    height: 40px;
}

header > form > input {
    border-radius: 10px;
    margin: 10px;
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
}



main {
    width: 100vw;
    display: block;
    margin: auto;
   
}

main > h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 10px;
    padding: 10px;
}

.container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 1em;
}


footer {
    width: 100vw;
    display: block;
    margin: auto;
    height: 100px;
    
}

footer > p {
    padding: 10px;
    margin: 10px;
    font-size: 1.5em
}